body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('pexels-castorly-stock-4276182.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-size: 5em;
    color: #FFFF66;
    position: absolute;
    animation: fade 5s ease-in-out infinite;
}

@keyframes fade {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

/* Media Queries */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 3em; /* Reduzindo o tamanho da fonte para telas menores */
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 2em; /* Reduzindo ainda mais para telas menores */
    }
}
